<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.ux.spot.ali_push">
   <Application
      android:usesCleartextTraffic="true">
        <receiver
            android:name=".AliPushNotificationReceiver"
            android:exported="false"
            tools:ignore="WrongManifestParent"> <!-- 为保证receiver安全，建议设置不可导出，如需对其他应用开放可通过android：permission进行限制 -->
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.RECEIVE" />
            </intent-filter>
        </receiver>
        <activity android:name=".AliPushNotificationPopupPushActivity" android:exported="true"
            tools:ignore="WrongManifestParent" />
    </Application>
</manifest>
